<div class="modal-header">
    <div class="header-icon mx-auto">
        <div class="main-icon">
            <i class="bux-icon bux-header-icon bux-tags"></i>
        </div>
        <div class="header-text">Add Tags</div>
    </div>
    <button type="button" class="close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <input [(ngModel)]="tagName" class="form-control" placeholder="Add tags (comma seperated)" />
    <div class="row">
        <div class="col-md-12 action-options">
            <button id="btnSearch" class="btn btn-secondary btn-md float-left" (click)="activeModal.dismiss()">Cancel</button>
            <button id="btnClear" class="btn btn-primary btn-md float-right" (click)="addTag()" [class.disabled]="tagName === ''">Add / Remove</button>
        </div>
    </div>
</div>