.user-name {
  color: #870a3c;
  font-weight: bold;
  font-family: SourceSansPro;
}

.welcome-area {
  border-bottom: 1px solid #dddddd;
}

.welcome-header {
  font-family: SourceSansPro-ExtraLight;
}
