.personal-info-area {
  border-bottom: 1px solid #dddddd;
}

.personal-info-header {
  font-family: SourceSansPro-ExtraLight;
  font-size: 1.4rem;
}

.about-page {
  color: #870a3c;
  font-weight: bold;
  font-family: SourceSansPro;
}
