<div class="modal-header">
  <div class="header-icon mx-auto">
    <div class="main-icon">
      <i class="bux-icon bux-header-icon bux-delete-trash"></i>
    </div>
    <div class="header-text">Delete Content</div>
  </div>
  <button type="button" class="close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="body-text mx-auto">
    Are you sure you want to delete <br />
    <span class="modal-course-title">"{{ lesson.title }}"</span>
  </div>
  <div class="row">
    <div class="col-md-12 action-options">
      <button id="btnSearch" class="btn btn-secondary btn-md float-left" (click)="activeModal.dismiss()">Cancel</button>
      <button id="btnClear" class="btn btn-primary btn-md float-right" (click)="deleteLesson()">Delete</button>
    </div>
  </div>
</div>
